@import url("https://fonts.googleapis.com/css2?family=Inter&family=Righteous&display=swap");

:root {
	--bg-color: #2b2b2b;
	--ff: "Inter", sans-serif;
	--primary-color: #dadadaff;
	--secondary-color: #cc0000;
}

body {
	display: grid;
	box-sizing: border-box;
	grid-template-rows: 1fr 10fr 1fr;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	height: 100vh;
	background-color: var(--bg-color);
	color: var(--primary-color);
	font-family: var(--ff);
}

/*------------------------------------------------------------------------------------*/

.hero-info {
	/* border: 1px solid blue; */
	grid-area: 2 / 1 / 3 / 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 3rem;
}

.hero-info .logo {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.logo h1 {
	font-family: "Righteous", cursive;
	text-transform: uppercase;
	font-size: 3rem;
	margin-bottom: 0.25rem;
}

.logo img {
	margin-bottom: 3rem;
	right: 0;
	width: 90%;
}

.hero-info .buttons {
	/* border: 1px solid red; */
	margin-top: 3rem;
	width: 100%;
}

.buttons a {
	margin-right: 2rem;
	text-decoration: none;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	padding: 0.5rem 1rem;
	border-radius: 0.125rem;
	box-shadow: 0 0.5rem 10px #000;
	text-shadow: none;
	/* transition: text-shadow scale 0.2s; */
}

.buttons a:hover {
	text-shadow: 0 0 0.5vw #f00;
	transition: text-shadow 0.2s;
}

/*------------------------------------------------------------------------------------*/

.hero-image {
	/* border: 1px solid green; */
	grid-area: 2 / 2 / 3 / 3;
	background-image: url(./assets/hero-image.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

/*------------------------------------------------------------------------------------*/
footer {
	/* border: 1px solid indigo; */
	grid-area: 3 / 1 / 3 / 3;
}
