@import url("https://fonts.googleapis.com/css2?family=Inter&family=Righteous&display=swap");

:root {
	--bg-color: hsl(0, 0%, 17%);
	--fg-p-color: hsl(0, 0%, 85%);
	--fg-p-opaque: rgba(217, 217, 217, 0.2);
	--fg-s-color: rgb(204, 0, 0);
	--fg-s-opaque: rgba(204, 0, 0, 0.5);
	--fg-s-shadow: rgb(255, 0, 0);

	--ff-p: "Inter", sans-serif;

	--dp: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

body {
	height: 100svh;
	padding: 5rem 0;
	font-family: var(--ff-p);
	background-color: var(--bg-color);
	color: var(--fg-p-color);
	overflow: hidden;
}

/*------------------------------------------------------------------------------------*/

header {
	/* border: 1px solid red; */
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header::after {
	content: "";
	border-bottom: 1px solid var(--fg-p-opaque);
	position: absolute;
	top: 1.2rem;
	right: -0.5rem;
	width: 100%;
}

header .contact {
	text-decoration: none;
	color: var(--fg-p-color);
	margin-left: 1rem;
	font-size: 0.75rem;
	transition: text-shadow 0.2s;
}

header .contact:hover {
	text-shadow: 0 0 0.5vw var(--fg-s-shadow);
	transition: text-shadow 0.2s;
}

/*------------------------------------------------------------------------------------*/

.hero-wrapper {
	/* border: 1px solid green; */
	height: calc(100vh - 10rem);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

/*------------------------------------------------------------------------------------*/

.hero-wrapper .left {
	margin: 5rem;
	display: flex;
	flex-direction: column;
}

/*------------------------------------------------------------------------------------*/

.left .logo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: fit-content;
	margin-bottom: 2.5rem;
}

.logo .name {
	height: 3rem;
	filter: var(--dp);
	margin-bottom: 0.5rem;
}

.banner {
	align-self: flex-end;
	filter: var(--dp);
}

.banner .layer-1 {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.layer-1 .banner-tail {
	height: 1.5rem;
}

.layer-1 .slogan {
	font-style: italic;
	font-size: 1rem;
	background-color: var(--fg-s-color);
	padding: 0.25rem 0.5rem;
	text-shadow: 1px 1px 0.5px rgb(0 0 0 / 0.4);
	border-radius: 0 1px 2px 0;
}

.banner .layer-2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.layer-2 .banner-fold {
	height: 0.75rem;
}

/*------------------------------------------------------------------------------------*/

.left .info {
	margin-bottom: 2rem;
}

/*------------------------------------------------------------------------------------*/

.left .buttons {
	/* border: 1px solid blue; */
	width: 66%;
}

.buttons .button {
	height: 100%;
	padding: 0.5rem;
	background-color: var(--fg-s-color);
	color: var(--fg-p-color);
	border: none;
	font-size: 1rem;
	text-decoration: none;
	border-radius: 5%;
	filter: var(--dp);
	transition: text-shadow 0.2s;
}

.buttons .button:hover {
	cursor: pointer;
	text-shadow: 0 0 0.5vw var(--fg-s-shadow);
	transition: text-shadow 0.2s;
}

/*------------------------------------------------------------------------------------*/

.hero-wrapper .right {
	/* border: 1px solid blue; */
	background-image: url(./assets/hero-image.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/*------------------------------------------------------------------------------------*/
